.widget {
    font-family: Arial, Serif, SansSerif;
    width: 170px;
    border-radius: 12px;
    height: 100px;
    text-align: center;
}

#wgCityHead {
    font-size: 18px;
    text-align: center;
    white-space: nowrap;
    color: #FFF;
    padding: 5px 0 7px 0;
}

.wgImg {
    display: inline-block;
    position: relative;
    bottom: 5px;
}

.wgTemp {
    display: inline-block;
    color: #FFF;
    font-size: 26px;
    vertical-align: top;
    width: 86px;
    padding-top: 18px;
}